[Unit]
Description=FSAE Raspi Service
After=network.target influxdb3.service

[Service]
User=__USER__
WorkingDirectory=__HOME__/embedded
ExecStart=__HOME__/.cargo/bin/cargo run --bin fsae-raspi --release
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target