[Unit]
Description=FSAE Raspi Service
After=network.target

[Service]
User=fsae
WorkingDirectory=/home/fsae/embedded
ExecStart=/usr/bin/env cargo run --bin fsae-raspi
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
