[Unit]
Description=InfluxDB3
After=network.target

[Service]
User=__USER__
ExecStart=/usr/local/bin/influxdb3 serve \
    --object-store file \
    --data-dir __HOME__/.influxdb3 \
    --without-auth
    --node-id raspi
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target